<div class="css w-embed">
    <style>
/*
 * general CSS
*/
:root {
  --accent: #64F9C8;
}
</style>
    <style>
/*
 * text animated glow
*/
.punchline.bignumbers, .heading.service {
  text-shadow: 0 0 50px rgba(255,255,255,.8);
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 50px rgba(255,255,255,.4);
  }
  to {
    text-shadow: 0 0 45px rgba(255,255,255,.30);
  }
}
</style>
  </div>