<div class="popup"><img src="{{ images.e51d1be.url }}" loading="lazy" data-sizes="[{&quot;max&quot;:991,&quot;size&quot;:&quot;13px&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;1vw&quot;}]" alt="{{ images.e51d1be.alt | trim | escape }}" class="popup-icon">
    <div class="popup-wrap-text">
      <div class="popup-legend">{{ texts.61895c95 }}</div>
    </div>
  </div>